.contact-wrapper {
    
    display: flex;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    /* Add padding for spacing */
    margin-bottom: 30px;
    /* Add margin for spacing between elements */
    margin-left: 50px;
    /* Add margin for spacing between elements */
    margin-right: 50px;
    /* Add margin for spacing between elements */
    transition: box-shadow 0.3s;
    /* Add transition for smooth effect */
}

.contact-wrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    /* Add relief effect on hover */
    background-color: lightgrey;
}


.contact-image {
    width: 100px;
    /* Set image width */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 0%;
    /* Make the image circular */
    margin-right: 20px;
    /* Add margin for spacing between image and text */
}

.contact-image:hover {
    box-shadow: none;
    /* Remove box shadow on hover */
}

.contact-font-h2 {
    text-align: right;
}

@media (max-width: 700px) {
    .contact-font-h1 {
        font-size: 25px;
    }

    .contact-font-h2 {
        font-size: 20px;
    }
}

.middle-text {
    flex:3;
    text-align: center;

}

.left-grade {
    flex:1;
    margin-right: 5%;
    text-align: right;
    align-items: center;
    justify-content: right;
}