.contact-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    width: 100%;
    /* Add padding for spacing */
    margin-bottom: 30px;
    /* Add margin for spacing between elements */
    margin-left: 50px;
    /* Add margin for spacing between elements */
    margin-right: 50px;
    /* Add margin for spacing between elements */
    transition: box-shadow 0.3s;
    /* Add transition for smooth effect */
}

.contact-wrapper:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: lightgrey;
}


.contact-image {
    width: 100px;
    height: auto;
    border-radius: 0%;
    margin-right: 20px;
}

.contact-image:hover {
    box-shadow: none;
    /* Remove box shadow on hover */
}

.contact-font-h2 {
    text-align: right;
}

@media (max-width: 700px) {
    .contact-font-h1 {
        font-size: 15px;
    }

    .contact-font-h2 {
        font-size: 18px;
    }
    .contact-image {
        width: 50px;
    }
}

.left-image {
    display: flex;
    margin-left: 5%;
    align-items: center;
}


.middle-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right-grade {
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
    align-items: center;
}